<div class="modal" id="RemovePromptModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title text-danger">Warning</h4>
            </div>

            <div class="modal-body">
                Are you sure you want to remove this agreement?
                <p id="RemovePromptModalText" class="mt-3 small text-danger pl-3"></p>
            </div>

            <div class="modal-footer">
                <button id="AgreementRemovePromptBtn" type="button" class="btn btn-sm btn-outline-danger"><i class='far fa-trash-alt'></i> Yes</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>