<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-dark active" data-toggle="collapse" href="#agreementCard"><i class='far fa-file-alt'></i> Agreements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" data-toggle="collapse" href="#productsCard">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" data-toggle="collapse" href="#productGroupsCard">Product Groups</a>
    </li>
</ul>
