@using AgreementManagement.Web.Data
@model IEnumerable<ProductGroup>
@{
    ViewData["Title"] = "Agreement Manager";
}

<div class="text-center">
    <p class="h2">@ViewData["Title"]</p>

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Column name</th>
            </tr>
        </thead>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            //ajax: '/Home/Agreements'
        });
    });
</script>
